.gly-2x{font-size: 1.8em;}
.gly-3x{font-size: 3em;}
.gly-4x{font-size: 4em;}
.gly-5x{font-size: 5em;}


.gly-color-red{color: #e56456;}
.gly-color-blue{color: #6eb4f4;}
.gly-color-yellow{color: #8e840f;}
.gly-color-brown{color: #40341d;}
.gly-color-green{color: #26560d;}

.spacer-top{margin-top: 32px;}
.spacer-bottom{margin-bottom: 32px;}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f2f4f6;
}

.btn-default {
    color: #337ab7;
    background-color: #fff;
    border-color: #ccc;
}

input[type="search"], div.dataTables_length select{
	display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 25px;
}

.badge{background-color: #3a6f2c}

.badge-bg{background-color: #6eb4f4}

.border-border{border: 2px dashed #DFDFEA; margin-left: 10px; margin-right: 10px; padding: 10px;}

.border-sintop{border-left:2px; border-bottom: 2px dashed #DFDFEA; margin-left: 10px; margin-right: 10px;}

footer{padding-top: 30px; padding-bottom: 30px}

a:hover, a:focus {
    color: #23527c;
    text-decoration: none;
}

.panel-title > a:hover, a:focus{
    color: #40341d;
}


